.navbar-nav .nav-item:hover:not(.navActive, .btn-logout){
    background-color: rgb(147, 147, 243) !important;
}
.navbar-nav .nav-item:hover a{
    color: white !important;
}
.navbar-nav .nav-item{ 
    padding: 0px 20px;
}
.navActive {
    background-color: blue !important;
}
.navActive a{
    color: white !important;
}
.sort{
    text-decoration: none !important;
    color: black;
}

.logo{
    width: 50%;
}
.p-0-print{
    padding: 20px;
}
@media print{
    .p-0-print{
        padding: 0;
    }
    .logo {
        width: 25%;
    }

    .zoom{
        zoom: 0.7;
    }
    .d-none-print{
        display: none;
    }
}
@page {
    margin: 15px;
}

*{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}